<div class="colu-4" style="margin: auto; margin-top: 200px;">
    <h1 style="color:#ff4081 ;"><span class=" flex-display "><mat-icon>forest</mat-icon> Woodcast</span></h1>
    <div class="panel">
        <div class="panel-body">
            <div *ngIf="loginErrorVisible">
                <span style="color: red;">{{loginErrorVisible}}</span>
            </div>
            <br/>

            <form [formGroup]="form" (ngSubmit)="sub()">
                <div mat-dialog-content>

                    <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input matInput id="username-a" placeholder="inserisci un valore" #input formControlName="username" (change)="clear()">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>password</mat-label>
                        <input type="password" id="password-a"  matInput placeholder="inserisci un valore" #input
                            formControlName="password" (change)="clear()">
                    </mat-form-field>
                </div>
                <div mat-dialog-actions align="end">

                    <button type="submit" mat-flat-button color="accent">
                        <mat-icon>key</mat-icon>
                        LOGIN
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>