<h1 class="page-title inserimento-modal-title"><span class="flex-display"><mat-icon>home_repair_service</mat-icon>
        Inserisci Servizio</span></h1>


<form [formGroup]="form" (ngSubmit)="sub()">
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Cliente</mat-label>
            <input matInput placeholder="inserisci un valore" #input formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Costo Vendita</mat-label>
            <input matInput placeholder="inserisci un valore" #input formControlName="rate">
        </mat-form-field>
        <div mat-dialog-actions align="end">

            <button type="submit" mat-flat-button color="accent">
                <mat-icon>save</mat-icon>
                SALVA
            </button>

        </div>
    </div>
</form>